<style>
    p {
        font-size: 6px;
    }
    .row-adjust {
        margin-top: 15px;
        margin-bottom: 45px;
    }
	.adjust-gm{
		margin-top: 30px;
	}
    .title-adjust{
        margin-top: 10px;
        margin-bottom: 50px;
    } 
    .bottom-adjust{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .align-right{
        text-align: right;
    }
	.font-red{
        font-size: 12px;
    }
	
	
</style>